<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add new</title>
    <link rel="stylesheet" href="../public/newfeedstyle.css">
</head>
<body>

 

    <form action="/feed" method="post">
        <button style="color: aliceblue; background-color: blueviolet;margin-bottom: 30px;">Add a post</button>
        <br>
        <input id="input" type="text" name="name"  placeholder="write your Name" style="width: 300px; text-align: center;">
         <br>
        <textarea name="massage" placeholder="write your Massage" style="width: 300px;text-align: center;margin-top: 20px;" ></textarea>
    
     
        
         
    </form> 
    


</body>
</html>